body {
  background: #1493d7;
  color: #eee;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

canvas {
  background: #ffffff;
  display: block;
  margin: 10px auto;
  box-shadow: 0 0 10px rgb(35, 43, 208);
}

.controls {
  margin-top: 10px;
}

button {
  margin: 0 6px;
  padding: 6px 12px;
  font-size: 16px;
}
